@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  height: 100%;
}

body {
  background-color:#c084fc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:
  radial-gradient(at 38% 93%, #6366f1 0px, transparent 50%),
  radial-gradient(at 33% 73%, #7c3aed 0px, transparent 50%);
}

.gradient-text {
  @apply bg-gradient-to-r from-violet-600 via-indigo-500 to-purple-400 inline-block text-transparent bg-clip-text
}